@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "sixtyfour";
  src: url("/public/fonts/Sixtyfour.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "sticknobills";
  src: url("/public/fonts/StickNoBills-VariableFont_wght.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
